@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movies for Everyone!</h1>
    <ul>
        <li><a class="navbar-brand" asp-area="" asp-page="/MapPage">Map Page</a></li>
        <li><a class="navbar-brand" asp-area="" asp-page="/MovieQueuePage">Movie Queue Page</a></li>
        <li><a class="navbar-brand" asp-area="" asp-page="/Register">Register</a></li>
    </ul>    
</div>
