@page
@model MoviesForEveryone.Pages.LoginModel
@{
}

<html>
<head>
    <title>Register</title>
    <style>
        body {
            font: 0.9em Calibri;
        }
    </style>
</head>

<body>
    <form method="post">
        <fieldset>
            <legend>Register a new user</legend>           
            <div style="margin-bottom:10px">
                @Html.Label("User Name", "UserName")
                <div>
                    @Html.TextBox("UserName")
                </div>
            </div>
            <div style="margin-bottom:10px">
                @Html.Label("Password", "Password")
                <div>
                    @Html.Password("Password")
                </div>
            </div>
            <div>
                <div>
                    <input type="Submit" value="Register" />
                </div>
            </div>
        </fieldset>
    </form>
</body>
</html>