@page
@model MoviesForEveryone.Pages.RegisterModel
@{
}

<html>
<head>
    <title>Register</title>
    <style>
        body {
            font: 0.9em Calibri;
        }
    </style>
</head>

<body>
    <form method="post">
        Username:
       <input type="text" />
        
        Password:

        Re-Enter password:
        <button asp-page-handler="Register"></button>
    </form>
</body>
</html>
