@page
@model MoviesForEveryone.Pages.ReviewPageModel
@{
}

<h1>Review Theater</h1>
<form method="post">
    <div>
        How clean was the theater? <input type="number" id="cleanRate"> / 5
        <textarea id="theaterReviewText" maxlength="200" size="100"></textarea>
    </div>
    <div>
        How were the concessions? <input type="number" id="concRate"> / 5
        <textarea id="theaterReviewText" maxlength="200" size="100"></textarea>
    </div>
    <div>
        How was the arcade? <input type="number" id="arcadeRate"> / 5
        <textarea id="theaterReviewText" maxlength="200" size="100"></textarea>
    </div>
    <div>
        How was your experience while watching the movie? <input type="number" id="expRate"> / 5
        <textarea id="theaterReviewText" maxlength="200" size="100"></textarea>
    </div>


    <input type="submit" value="Submit Review" />
</form>

