@page "{theaterId:int}"
@model MoviesForEveryone.Pages.ReviewPageModel
@{
}

<h3>Review @ViewData["TheaterName"]</h3>
@{int tryTheaterID = Model.TheaterID; } 
<form method="post">
    <div>
        How clean was the theater? <input type="number" name="cleanRate"> / 5
        <textarea name="cleanText" maxlength="200" size="100"></textarea>
    </div>
    <div>
        How were the concessions? <input type="number" name="concRate"> / 5
        <textarea name="concText" maxlength="200" size="100"></textarea>
    </div>
    <div>
        How was the arcade? <input type="number" name="arcadeRate"> / 5
        <textarea name="arcadeText" maxlength="200" size="100"></textarea>
    </div>
    <div>
        How was your experience while watching the movie? <input type="number" name="expRate"> / 5
        <textarea name="expText" maxlength="200" size="100"></textarea>
    </div>

    <input type="submit" value="Submit Review" />
</form>

